*{
   margin: 0p;
   padding: 0px; 
}
body{
    font-family: sans-serif;
    background-color: #777;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00A9D4;
    height: 60px;
    position: relative;
}
.icon{
    cursor: pointer;
    padding-top: 23px;
    margin-left: 550px;
    line-height: 60px;
    
}
.icon span{
    background: rgb(214, 26, 26);
    padding: 7px;
    border-radius: 50px;
    color: #fff;
    vertical-align: top;
    margin-left: -25px;
}
.icon image{
     display: inline-block;
     width: 40px;
     margin-top: 20px;
}
.icon:hover{
    opacity: .7;

}
.log{
    flex: 1;
    margin-top: 50px;
    color: #eee;
    font-size: 20px;
    font-family: monospace;
   

}
.notifi-box{
    width: 300px;
    height: 0px;
    padding-top: 40px;
    opacity: 0px;
    position: absolute;
    transition-property: 63px;
    right: 35px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2)0 6px 20px 0 rgba(0,0,0), 0.19;
}
.notifi-box h2{
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #999; 
}
.notifi-box h2 span{
    color: #f00;
    
}
.notifi-item{
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 15px 15px;
    margin-bottom: 15px;
    cursor: pointer;
}
.notifi-item img{
    display: block;
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
}
.notifi-item .text{
    color: #777;
    font-size: 16px;
    margin-top: 10px;
}
h4,p{
    color: #fff;
}